.button{
    padding: 14px 24px;
    border-radius: 5px;
    background-color: var(--White-100);
    color: var(--Dark-3);
}

.button:hover{
    opacity: 95%;
    text-decoration: none;
    color: var(--Dark-3);
}

.button:focus, .button-text-icon:focus{
    outline: none;
}

.button-border{
    background-color: var(--Dark-1);
    border: 1px solid var(--Grey-1);
    opacity: 80%;
}

.button-text-only{
    background-color: transparent;
    color: var(--Grey-1);
    opacity: 80%;
}

.button-text-only:hover{
    opacity: 100%;
    color: var(--Grey-1);
}

.button-text-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
    opacity: 80%;
}

.button-text-icon:hover{
    opacity: 100%;
    text-decoration: none;
}

.button-text-icon:hover svg{
    transform: translateX(2px);
    transition: all 1s ease-in-out;
}

.personal-business{
    padding: 10px 24px;
    border-radius: 60px;
    background-color: transparent;
    color: var(--Grey-1);
    opacity: 98%;
}

.personal-business.active{
    background-color: var(--White-100);
    color: var(--Dark-3);
}

.personal-business.active:hover{
    background-color: var(--White-100);
    color: var(--Dark-3);
}

.personal-business:hover{
    color: var(--Grey-1);
    opacity: 100%;
}

.social-icon{
    padding: 10px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(155, 155, 155, 0.25);
    border-radius: 50%;
    opacity: 80%;
}

.social-icon:hover{
    opacity: 100%;
}