@import url(reset.css);
@import url(color.css);
@import url(text.css);
@import url(button.css);
@import url(bootstrap.min.css);
@import url(unleash.css);
@import url(media_query.css);
@import url(navbar.css);

body, html{
    font-family: "Inter" !important;
    background-color: var(--Dark-1);
    color: var(--White-100);
}

.grid-background{
    background: url(/assets/grid-background-unleash.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gradient-background{
    background: url(/assets/gradient-background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    display: none !important;
}

.content.active{
    display: block !important;
}

.card{
    background-color: var(--White-4);
    border: 2px solid rgba(255, 255, 255, 0.04);
    border-radius: 20px;
    /* padding: 32px 18px; */
}

.card-icon{
    width: fit-content;
    padding: 12px;
    background-color: var(--White-4);
    border: 2px solid rgba(255, 255, 255, 0.04);
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
}

.card:hover{
    cursor: pointer;
    background-color: var(--White-7);
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.1);
}